<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alanr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alanr.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>alanr</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$alanr</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RecordDB" Order="1" Enabled="True">
          <Destination Path="Data Source=recordb.database.windows.net;Initial Catalog=RecordDB;User ID=alanr;Password=James@17" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LION;Initial Catalog=RecordDB;User ID=sa;Password=Kirkwall@25%" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RecordDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LION;database=RecordDB;uid=sa;pwd=Kirkwall@25%" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RecordDB-Web.config Connection String">
      <ParameterValue>Data Source=recordb.database.windows.net;Initial Catalog=RecordDB;User ID=alanr;Password=James@17</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>